build:
  type: text
  content: >-
    #!/bin/sh


    # make all

    # docker build

    docker build -f chat_db/Dockerfile -t chat_db:$GIT_COMMIT_ID chat_db 

    docker tag chat_db:$GIT_COMMIT_ID  chat_db:$ROOST_NAMESPACE  


    docker build -f chat_front/Dockerfile -t chat_front:$GIT_COMMIT_ID chat_front 

    docker tag chat_front:$GIT_COMMIT_ID  chat_front:$ROOST_NAMESPACE  


    docker build -f chat_svc/Dockerfile -t chat_svc:$GIT_COMMIT_ID chat_svc 

    docker tag chat_svc:$GIT_COMMIT_ID  chat_svc:$ROOST_NAMESPACE  
deploy:
  type: text
  content: >+
    #/bin/sh


    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},imagePullPolicy=IfNotPresent,namespace=${ROOST_NAMESPACE}"


    helm upgrade chating-app ./helm_chart/ -n $ROOST_NAMESPACE --create-namespace --install $HELM_OPTS

test: []
lastUpdatedBy: Apoorva Singh Gangwar
lastUpdatedOn: 2022-08-01T14:43:46.212Z
